.container-thin {
    max-width: 550px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: grid;
    align-items: center;
    margin: auto;
    gap: 1rem;

    padding: 2rem;
    border-radius: 2rem;

    backdrop-filter: blur(10px);
    box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.3);

    background: hsl(0 80% 50% / 0.25);
    background: #00000033;
    background: #ffffff33;
}

.container-thin > img {
    border-radius: 1rem;
}

* {
    scrollbar-width: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::selection {
    background: #b3d4fc;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    /* background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    background-image: url(/img/placeholderBG/5.avif); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    color: #fff;
}

h1,
h3 {
    margin: 0;
    line-height: 1;
}

h1 {
    font-size: 2.4em;
    margin-bottom: 0.45em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.7em;
}

p {
    margin: 0;
    line-height: 1.5;
}

a {
    color: inherit;
}

img {
    user-select: none;
    -webkit-user-select: none;
    display: block;
    max-width: 100%;
    object-fit: cover;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
}