::selection {
    background: red;
    color: white;
    text-shadow: none;
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Overpass', system-ui, -apple-system, sans-serif;
    margin: 0;
}

h1,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 2.4em;
    margin-bottom: 0.45em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.7em;
}

p {
    line-height: 1.5;
    margin: 0;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    object-fit: cover;
    -webkit-user-select: none;
    user-select: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
}