body {
  margin: 2em;
  background-image: url(/img/placeholderBG/5.avif);
  font-family: "Barlow", sans-serif;
}

.container-thin {
  display: grid;
  margin: auto;
  padding: 2rem;
  background: hsla(0, 80%, 50%, 0.25);
  background: rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.12);
  gap: 1rem;
  max-width: 550px;
}

.container-thin>img {
  border-radius: 1rem;
}