body {
    background-color: #f0f8ff;
    color: #fff;
    font-family: Overpass, sans-serif;
    margin: 0
}

html {
    scroll-snap-type: block mandatory
}

.page {
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100.1vh;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
    width: 100%
}

.page.homepage {
    background-image: url(/img/qiyu/1-1.avif)
}

.page.page1 {
    background-image: url(/img/qiyu/2-0.avif)
}

.page.page2 {
    background-color: #e7ebee
}

.page.page3 {
    background-color: #000
}

.page.page3 .img-grid,
.page.page3 .text {
    background-color: #1d2021
}

.page.show .img-grid {
    transition: transform .4s, opacity .4s
}

.page.show .img-grid,
.page.show .text {
    opacity: 1;
    transform: translateY(0);
    visibility: visible
}

.page.show .text {
    transition: transform .5s, opacity .5s
}

.page .img-grid {
    align-items: flex-start;
    background-color: #000c;
    border-radius: 3rem;
    display: flex;
    filter: drop-shadow(0 .15rem .6rem rgba(0, 0, 0, .1));
    gap: 2rem;
    justify-content: space-between;
    opacity: 0;
    padding: 2rem;
    transform: translateY(75%);
    transition: transform .4s, opacity .4s;
    visibility: hidden;
    width: 90vw;
    z-index: 1
}

.page .img-grid img {
    border-radius: 1.75rem;
    flex: 1;
    height: auto;
    max-width: calc(30vw - 2.66667rem);
    transition-duration: .5s;
    transition-property: transform
}

.page .img-grid img:hover {
    transform: scale(1.025)
}

.page .text {
    background-color: #000c;
    border-radius: 2rem;
    filter: drop-shadow(0 .15rem .6rem rgba(0, 0, 0, .1));
    margin-top: 2rem;
    opacity: 0;
    padding: 2rem;
    transform: translateY(100%);
    transition-duration: .5s;
    transition-property: transform, opacity;
    transition: transform .5s, opacity .5s;
    visibility: hidden;
    z-index: 1
}

.page .text h1 {
    margin-bottom: 1rem
}

.page .text h3 {
    font-weight: 400;
    margin-bottom: 0
}

.page .text ul {
    margin-top: .75rem
}

.page .text :not(:first-of-type) > h3 {
    margin: 0
}

.page .overlay {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #0003;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.img-code {
    background-color: #000;
    border-radius: 2em;
    display: grid;
    gap: 2em;
    grid-template-columns: auto 1fr;
    height: 24em;
    margin: 0 auto 2em;
    max-width: 66em;
    padding: 2em;
    scroll-snap-align: none
}

.img-code .right {
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: column;
    overflow-y: scroll
}

.img-code .right h1 {
    margin: 0 0 .5em
}

.img-code .right p {
    line-height: 150%;
    margin: 0 0 1em
}

.img-code .right a {
    color: inherit;
    font-weight: 700
}

.img-code .right code,
.img-code .right pre {
    background: #1f1f1f;
    border-radius: 1em;
    color: #d9d9d9;
    font-family: Spline Sans Mono, monospace;
    font-size: .8rem;
    line-height: 1.5;
    overflow: scroll
}

.img-code iframe,
.img-code img {
    background-color: #1f1f1f;
    border-radius: 1em;
    height: 100%;
    object-fit: cover;
    object-fit: contain;
    width: 24em
}

footer {
    color: #000;
    padding-bottom: 2rem;
    scroll-snap-align: end;
    text-align: center
}

footer ul {
    list-style-type: none
}
