body {
  margin: 0;
  margin-bottom: 3rem;
  color: #244376;
}

model-viewer {
  --poster-color: #ffffff00;
  width: 100%;
  height: 400px;
  background-color: #000000;
}

.card1>model-viewer {
  background-color: #244376;
}

.card2>model-viewer {
  background-color: hsl(190, 97%, 50%);
}

.card3>model-viewer {
  background-color: hsl(214, 62%, 50%);
}

.card {
  display: flex;
  margin: 3em auto;
  flex-direction: column;
  max-width: 600px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.attribution {
  display: flex;
  margin: 1em;
  flex-direction: row;
  justify-content: space-between;
}

.attribution h1 {
  margin: 0 0 0.25em;
}

.attribution img {
  height: 2em;
  opacity: 0.5;
}

footer {
  display: flex;
  margin: auto;
  font-style: italic;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
}