body {
  margin: 0;
  background-color: aliceblue;
  color: white;
  font-family: Overpass, sans-serif;
}

html {
  scroll-snap-type: block mandatory;
}

.page {
  width: 100%;
  height: 100.1vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: center;
}
.page.homepage {
  background-image: url("/img/qiyu/1-1.avif");
}
.page.page1 {
  background-image: url("/img/qiyu/2-0.avif");
}
.page.page2 {
  background-color: #e7ebee;
}
.page.page3 {
  background-color: black;
}
.page.page3 .img-grid,
.page.page3 .text {
  background-color: #1d2021;
}
.page.show .img-grid {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform 0.4s, opacity 0.4s;
}
.page.show .text {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s, opacity 0.5s;
}
.page .img-grid {
  transform: translateY(75%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s, opacity 0.4s;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 3rem;
  filter: drop-shadow(0 0.15rem 0.6rem rgba(0, 0, 0, 0.1));
  z-index: 1;
}
.page .img-grid img {
  flex: 1;
  max-width: calc((90vw - 8rem) / 3);
  height: auto;
  border-radius: 1.75rem;
  transition-property: transform;
  transition-duration: 0.5s;
}
.page .img-grid img:hover {
  transform: scale(1.025);
}
.page .text {
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s, opacity 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
  filter: drop-shadow(0 0.15rem 0.6rem rgba(0, 0, 0, 0.1));
  z-index: 1;
  transform: translateY(100%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  visibility: hidden;
}
.page .text h1 {
  margin-bottom: 1rem;
}
.page .text h3 {
  font-weight: normal;
  margin-bottom: 0;
}
.page .text ul {
  margin-top: 0.75rem;
}
.page .text :not(:first-of-type) > h3 {
  margin: 0;
}
.page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 0;
}

.img-code {
  display: grid;
  height: 24em;
  padding: 2em;
  margin: 2em auto;
  background-color: black;
  max-width: 66em;
  gap: 2em;
  border-radius: 2em;
  grid-template-columns: auto 1fr;
  scroll-snap-align: none;
  margin-top: 0;
}
.img-code .right {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 0 0 1em 1em;
}
.img-code .right h1 {
  margin: 0;
  margin-bottom: 0.5em;
}
.img-code .right p {
  margin: 0;
  margin-bottom: 1em;
  line-height: 150%;
}
.img-code .right a {
  color: inherit;
  font-weight: bold;
}
.img-code .right code,
.img-code .right pre {
  background: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 85%);
  font-family: "Spline Sans Mono", monospace;
  font-size: 0.8rem;
  line-height: 1.5;
  overflow: scroll;
  border-radius: 1em;
}
.img-code img,
.img-code iframe {
  width: 24em;
  height: 100%;
  background-color: #1F1F1F;
  border-radius: 1em;
  object-fit: cover;
  object-fit: contain;
}

footer {
  color: black;
  scroll-snap-align: end;
  text-align: center;
  padding-bottom: 2rem;
}
footer ul {
  list-style-type: none;
}/*# sourceMappingURL=index-qiyu.css.map */