::selection {
  background: red;
  color: white;
  text-shadow: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
}

body {
  height: calc(100vh - 2.5vh);
  margin: 2.5vh;
  background-color: #202124;
  color: black;
  font-family: "Barlow", sans-serif;
  margin-bottom: 0;
}

#warning {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  align-items: center;
  animation: fade 0.75s ease-out 0.75s forwards;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10001;
}

#warning p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 22px;
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

#container {
  display: flex;
  width: 100%;
  height: calc(100vh - 2.5vh - 8vh);
}

#main {
  display: grid;
  width: 100%;
  gap: 2.5vh;
  overflow: hidden auto;
  scroll-behavior: smooth;
  scroll-snap-type: block mandatory;
  transition: margin 0.4s;
}

.panel {
  display: flex;
  width: 0;
  transition-duration: 0.4s;
  transition-property: width;
  z-index: 102;
}

.fill {
  width: 100%;
  border-radius: 1.5vh;
  overflow: hidden auto;
}

.show-left-panel #left {
  width: 20vw;
}

.show-left-panel #main {
  margin-left: 2.5vh;
}

.show-left-panel #littlelink {
  opacity: 1;
}

.show-right-panel #right {
  width: 35vw;
  transition-duration: 0.6s;
}

.show-right-panel #main {
  margin-right: 2.5vh;
}

.show-right-panel #resume {
  opacity: 1;
  transition-duration: 0.7s;
}

.line {
  display: flex;
  width: 100%;
  gap: 2.5vh;
  scroll-snap-align: end;
}

.line>a {
  position: relative;
  width: 100%;
  height: calc((100vh - 2.5vh - 8vh - 2.5vh) / 2);
  border-radius: 1.5vh;
  overflow: hidden;
  transition: width 0.4s;
}

#line1>a:hover {
  width: 185%;
}

#line2>a:hover {
  width: 125%;
}

#line3>a:hover {
  width: 100%;
}

.line>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.4s;
  z-index: 99;
}

.line>a>.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.8s;
  z-index: 100;
}

.line>a>.text-layer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
  font-size: 2.4rem;
  font-weight: bold;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.8s;
  z-index: 101;
}

.line>a:hover>img {
  transform: scale(1);
}

.line>a:hover>.layer {
  opacity: 0.4;
}

.line>a:hover>.text-layer {
  opacity: 1;
}

#footer {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
}

#name {
  color: #93969f;
  cursor: pointer;
  font-size: calc(0.45 * 8vh);
  font-weight: bold;
  line-height: 2.4;
  transform: translateY(-2px);
  transition: color 0.4s;
}

#name:hover {
  color: white;
}

#red-button-placeholder {
  display: flex;
  width: calc(0.5 * 8vh);
  height: 8vh;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

#red-button {
  display: flex;
  width: calc(0.5 * 8vh);
  height: calc(0.5 * 8vh);
  background-color: red;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 0.6s;
}

#red-button-placeholder:hover>#red-button {
  background-color: black;
}

#red-button>img {
  width: 70%;
  transform: translate(-0.5px, -0.5px);
}

#circle-group {
  display: flex;
  position: absolute;
  left: 50%;
  gap: calc(0.1875 * 8vh);
  transform: translate(-50%, 0%);
}

#circle-group .circle {
  width: calc(0.375 * 8vh);
  height: calc(0.375 * 8vh);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.4s;
}

#circle1 {
  background-color: white;
}

#circle2 {
  background-color: #93969f;
}

#left-trigger,
#right-trigger {
  position: fixed;
  top: 0;
  width: 2.5vh;
  height: 100vh;
  z-index: -1;
}

#left-trigger {
  left: 0;
}

#right-trigger {
  right: 0;
}

#resume {
  width: 35vw;
  padding: 1.2rem;
  background-color: white;
  color: #0a0d0f;
  line-height: 1.75;
  opacity: 0;
  padding-top: 0.4rem;
  transition: opacity ease 0.3s;
}

#resume h1 {
  margin: 0;
  font-size: 2rem;
}

#resume h2 {
  margin: 0;
  line-height: 1;
}

#resume p {
  margin: 0;
}

#resume #contact,
#resume h1,
#resume h2 {
  justify-content: center;
  text-align: center;
}

#resume hr {
  height: 1px;
  height: 0;
  margin: 1rem 0;
  background-color: #b9c0c6;
  border: none;
  margin-top: 0;
}

#resume hr:first-of-type {
  height: 1px;
  margin-top: 1rem;
}

#resume ul {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  white-space: normal;
}

#resume #contact {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

#resume #contact p {
  line-height: 1;
}

#resume #contact img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  transform: translate(0, 1px);
  -webkit-user-select: none;
  user-select: none;
}

#resume .wrapper {
  padding: 0.75rem;
  background-color: aliceblue;
  border-radius: 1rem;
  margin-top: 0.75rem;
  padding-top: 0.5rem;
}

#resume .wrapper ul {
  margin-top: 0.25rem;
}

#resume #skills {
  margin-top: 0;
}

#resume .justified {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#littlelink {
  display: flex;
  width: 20vw;
  padding: 1.2rem;
  background-color: white;
  flex-direction: column;
  opacity: 0;
  overflow: hidden auto;
  transition: opacity ease 0.3s;
}

#littlelink>h2 {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

#littlelink>.avatar {
  width: 8vw;
  height: 8vw;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 0.75rem;
  object-fit: cover;
}

#littlelink>.button {
  display: inline-block;
  width: 100%;
  height: 3rem;
  color: #ffffff;
  border-radius: 0.5rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
}

#littlelink>.button:last-child {
  margin: 0;
}

#littlelink>.button:hover,
#littlelink>.button:focus {
  filter: brightness(90%);
}

#littlelink .icon {
  width: 20px;
  height: 20px;
  padding: 0px 6px 3px 0px;
  box-sizing: content-box;
  vertical-align: middle;
}

.button.button-game {
  background-color: #6637e8;
}

.button.button-blog,
.button.button-instagram {
  background-image: linear-gradient(-135deg, #f58529, #dd2a7b, #515bd4);
}

.button.button-github {
  background-color: #171515;
}

.button.button-pinterest {
  background-color: #ffebed;
  color: black !important;
}

.button.button-behance {
  background-color: #1769ff;
}

.button.button-line {
  background-color: #06c755;
}

.button.button-mail {
  background-color: #1e2329;
  background-color: #e53626;
}