body {
    background-image: url(/img/ar/bg.avif);
    color: #fff;
    font-family: Barlow, sans-serif;
    margin: 2em
}

.container-thin {
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: #e61a1a40;
    background: #fff3;
    border: 1px solid #ffffff4d;
    border-radius: 2rem;
    box-shadow: 0 .25rem 1.5rem #0000001f;
    display: grid;
    gap: 1rem;
    margin: auto;
    max-width: 550px;
    padding: 2rem
}

.container-thin img,
.container-thin video {
    background-color: #000;
    border-radius: 1rem;
    min-height: 242px;
    width: 484px
}

.container-thin iframe {
    border: 0;
    border-radius: 1rem;
    margin-top: 1rem
}

.container-thin hr {
    margin-top: .5rem
}

.container-thin .fade {
    color: #999;
    font-style: italic
}
