$footer-height: 8vh;
$body-margin: 2.5vh;
$main-gap: 2.5vh;
$corner-radius: 1.5vh;
$duration1: 0.4s;
$duration2: 0.8s;

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

* {
    scrollbar-width: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    -webkit-user-select: none;
    user-select: none;
    max-width: 100%;
    object-fit: cover;
}

body {
    height: calc(100vh - #{$body-margin});
    margin: #{$body-margin};
    margin-bottom: 0;
    background-color: #202124;
    color: black;
    font-family: "Barlow", sans-serif;
}

#warning {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10001;
    align-items: center;
    justify-content: center;
    animation: fade 0.75s ease-out 0.75s forwards;
    -webkit-user-select: none;
            user-select: none;

    p {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        font-size: 22px;
        text-align: center;
    }
}

@keyframes fade {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

#container {
    display: flex;
    width: 100%;
    height: calc(100vh - #{$body-margin} - #{$footer-height});
}

#main {
    display: grid;
    width: 100%;
    gap: #{$main-gap};
    overflow: hidden auto;
    transition: margin $duration1;
    scroll-behavior: smooth;
    scroll-snap-type: block mandatory;
}

.panel {
    display: flex;
    width: 0;
    transition-property: width;
    transition-duration: $duration1;
    z-index: 102;
}

.fill {
    width: 100%;
    border-radius: #{$corner-radius};
    overflow: hidden auto;
}

.show-left-panel {
    #left {
        width: 20vw;
    }

    #main {
        margin-left: #{$main-gap};
    }

    #littlelink {
        opacity: 1;
    }
}

.show-right-panel {
    #right {
        width: 35vw;
        transition-duration: 1.5 * $duration1;
    }

    #main {
        margin-right: #{$main-gap};
    }

    #resume {
        opacity: 1;
        transition-duration: 0.7s;
    }
}

.line {
    display: flex;
    width: 100%;
    gap: #{$main-gap};
    scroll-snap-align: end;

    >a {
        position: relative;
        width: 100%;
        height: calc((100vh - #{$body-margin} - #{$footer-height} - #{$main-gap}) / 2);
        border-radius: #{$corner-radius};
        overflow: hidden;
        transition: width $duration1;
    }
}

#line1>a:hover {
    width: 185%;
}

#line2>a:hover {
    width: 125%;
}

#line3>a:hover {
    width: 100%;
}

.line>a {
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 99;
        transition: transform $duration1;
        transform: scale(1.1);
    }

    >.layer {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 100;
        transition: opacity $duration2;
        opacity: 0;
    }

    >.text-layer {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 2.4rem;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        z-index: 101;
        transition: opacity $duration2;
        opacity: 0;
    }

    &:hover {
        >img {
            transform: scale(1);
        }

        >.layer {
            opacity: 0.4;
        }

        >.text-layer {
            opacity: 1;
        }
    }
}

#footer {
    display: flex;
    height: #{$footer-height};
    align-items: center;
    justify-content: space-between;
}

#name {
    color: #93969f;
    font-size: calc(0.45 * #{$footer-height});
    font-weight: bold;
    cursor: pointer;
    line-height: 2.4;
    transform: translateY(-2px);
    transition: color $duration1;

    &:hover {
        color: white;
    }
}

#red-button-placeholder {
    display: flex;
    width: calc(0.5 * #{$footer-height});
    height: #{$footer-height};
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#red-button {
    display: flex;
    width: calc(0.5 * #{$footer-height});
    height: calc(0.5 * #{$footer-height});
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 1.5 * $duration1;
}

#red-button-placeholder:hover>#red-button {
    background-color: black;
}

#red-button>img {
    width: 70%;
    transform: translate(-0.5px, -0.5px);
}

#circle-group {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    gap: calc(0.1875 * #{$footer-height});

    .circle {
        width: calc(0.375 * #{$footer-height});
        height: calc(0.375 * #{$footer-height});
        border-radius: 50%;
        cursor: pointer;
        transition: background-color $duration1;
    }
}

#circle1 {
    background-color: white;
}

#circle2 {
    background-color: #93969f;
}

#left-trigger,
#right-trigger {
    position: fixed;
    top: 0;
    width: #{$body-margin};
    height: 100vh;
    z-index: -1;
}

#left-trigger {
    left: 0;
}

#right-trigger {
    right: 0;
}

#resume {
    width: 35vw;
    padding: 1.2rem;
    padding-top: 0.4rem;
    background-color: white;
    color: #0a0d0f;
    transition: opacity ease 0.3s;
    opacity: 0;
    line-height: 1.75;
}

#resume {
    h1 {
        margin: 0;
        font-size: 2rem;
    }

    h2 {
        margin: 0;
        line-height: 1;
    }

    p {
        margin: 0;
    }

    #contact,
    h1,
    h2 {
        text-align: center;
        justify-content: center;
    }

    hr {
        height: 1px;
        height: 0;
        margin: 1rem 0;
        margin-top: 0;
        background-color: #b9c0c6;
        border: none;

        &:first-of-type {
            height: 1px;
            margin-top: 1rem;
        }
    }

    ul {
        margin: 0;
        margin-left: 1rem;
        padding: 0;
        white-space: normal;
    }

    #contact {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;

        p {
            line-height: 1;
        }

        img {
            width: 12px;
            height: 12px;
            margin-right: 4px;
            transform: translate(0, 1px);
            -webkit-user-select: none;
                    user-select: none;
        }
    }

    .wrapper {
        margin-top: 0.75rem;
        padding: 0.75rem;
        padding-top: 0.5rem;
        background-color: aliceblue;
        border-radius: 1rem;

        ul {
            margin-top: 0.25rem;
        }
    }

    #skills {
        margin-top: 0;
    }

    .justified {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

#littlelink {
    display: flex;
    width: 20vw;
    padding: 1.2rem;
    background-color: white;
    transition: opacity ease 0.3s;
    opacity: 0;
    overflow: hidden auto;
    flex-direction: column;
}

#littlelink {
    > {
        h2 {
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }

        .avatar {
            width: 8vw;
            height: 8vw;
            margin-bottom: 0.75rem;
            object-fit: cover;
            background-position: center;
            border-radius: 50%;
        }

        .button {
            display: inline-block;
            width: 100%;
            height: 3rem;
            margin-bottom: 1rem;
            color: #ffffff;
            line-height: 3rem;
            border-radius: 0.5rem;
            text-decoration: none;
            text-align: center;

            &:last-child {
                margin: 0;
            }

            &:hover,
            &:focus {
                filter: brightness(90%);
            }
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        padding: 0px 6px 3px 0px;
        box-sizing: content-box;
        vertical-align: middle;
    }
}

.button {
    &.button-game {
        background-color: #6637e8;
    }

    &.button-blog,
    &.button-instagram {
        background-image: linear-gradient(-135deg, #f58529, #dd2a7b, #515bd4);
    }

    &.button-github {
        background-color: #171515;
    }

    &.button-pinterest {
        background-color: #ffebed;
        color: black !important;
    }

    &.button-behance {
        background-color: #1769ff;
    }

    &.button-line {
        background-color: #06c755;
    }

    &.button-mail {
        background-color: #1e2329;
        background-color: #e53626;
    }
}

// @media only screen and (orientation: portrait) {
//     .line {
//         flex-direction: column;
//     }

//     #line1 > a:hover,
//     #line2 > a:hover {
//         width: 100%;
//     }

//     #littlelink {
//         padding: 0;
//         padding: 1rem 0;
//         align-items: center;
//         text-align: center;
//         width: 25vw;

//         > .button {
//             width: 10rem;
//             font-size: 0;
//             border-radius: 50%;
//             height: 3rem;
//             width: 3rem;
//         }

//         .icon {
//             padding: 0;
//         }
//     }

//     #resume {
//         padding: 0;
//         width: 50vw;
//         .wrapper {
//             border-radius: 0;
//         }
//     }

//     .show-right-panel #right {
//         width: 100%;
//     }
//     .show-left-panel #left {
//         width: 33.3%;
//     }
// }