:root {
    --footer-height: 8vh;
    --body-margin: 2.5vh;
    --main-gap: 2.5vh;
    --corner-radius: 1.5vh;
    --duration1: 0.4s;
    --duration2: 0.8s;
}

::selection {
    color: white;
    background: red;
    text-shadow: none;
}

* {
    scrollbar-width: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    user-select: none;
    -webkit-user-select: none;
    max-width: 100%;
    object-fit: cover;
}

body {
    height: calc(100vh - var(--body-margin));
    margin: var(--body-margin);
    margin-bottom: 0;
    background-color: #202124;
    color: black;
    font-family: 'Barlow', sans-serif;
}

#warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 0.75s ease-out 0.75s forwards;
    user-select: none;
}

#warning p {
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@keyframes fade {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

#container {
    height: calc(100vh - var(--body-margin) - var(--footer-height));
    width: 100%;
    display: flex;
}

#main {
    gap: var(--main-gap);
    width: 100%;
    display: grid;
    overflow: hidden auto;
    transition: margin var(--duration1);
    scroll-behavior: smooth;
    scroll-snap-type: block mandatory;
}

.panel {
    width: 0;
    transition-property: width;
    transition-duration: var(--duration1);
    display: flex;
    z-index: 102;
}

.fill {
    width: 100%;
    border-radius: var(--corner-radius);
    overflow: hidden auto;
}

.show-right-panel #right {
    width: 35vw;
    transition-duration: calc(1.5*var(--duration1));
}

.show-right-panel #main {
    margin-right: var(--main-gap);
}

.show-left-panel #left {
    width: 20vw;
}

.show-left-panel #main {
    margin-left: var(--main-gap);
}

.line {
    gap: var(--main-gap);
    width: 100%;
    display: flex;
    scroll-snap-align: end;
}

.line > a {
    width: 100%;
    height: calc((100vh - var(--body-margin) - var(--footer-height) - var(--main-gap)) / 2);
    position: relative;
    border-radius: var(--corner-radius);
    overflow: hidden;
    transition: width var(--duration1);
}

#line1 > a:hover {
    width: 185%;
}

#line2 > a:hover {
    width: 125%;
}

#line3 > a:hover {
    width: 100%;
}

.line > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99;
    transition: transform var(--duration1);
    transform: scale(1.1);
}

.line > a:hover > img {
    transform: scale(1);
}

.line > a > .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    transition: opacity var(--duration2);
    opacity: 0;
}

.line > a:hover > .layer {
    opacity: 0.4;
}

.line > a > .text-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    transition: opacity var(--duration2);
    opacity: 0;
}

.line > a:hover > .text-layer {
    opacity: 1;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--footer-height);
}

#name {
    font-weight: bold;
    font-size: calc(0.45 * var(--footer-height));
    cursor: pointer;
    line-height: 2.4;
    transform: translateY(-2px);
    transition: color var(--duration1);
    color: #93969f;
}

#name:hover {
    color: white;
}

#red-button-placeholder {
    width: calc(0.5 * var(--footer-height));
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#red-button {
    width: calc(0.5 * var(--footer-height));
    height: calc(0.5 * var(--footer-height));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    transition: background-color calc(1.5*var(--duration1));
}

#red-button-placeholder:hover > #red-button {
    background-color: black;
}

#red-button > img {
    width: 70%;
    transform: translate(-0.5px, -0.5px);
}

#circle-group {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    gap: calc(0.1875 * var(--footer-height));
}

#circle-group .circle {
    width: calc(0.375 * var(--footer-height));
    height: calc(0.375 * var(--footer-height));
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--duration1);
}

#circle1 {
    background-color: white;
}

#circle2 {
    background-color: #93969f;
}

#left-trigger,
#right-trigger {
    width: var(--body-margin);
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
}

#left-trigger {
    left: 0;
}

#right-trigger {
    right: 0;
}

/* @media only screen and (orientation: portrait) {
.line {
    flex-direction: column;
}

#line1 > a:hover,
#line2 > a:hover {
    width: 100%;
}

#littlelink {
    padding: 0;
    padding: 1rem 0;
    align-items: center;
    text-align: center;
    width: 25vw;
}

#littlelink > .button {
    width: 10rem;
}

#littlelink > .button {
    font-size: 0;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

#littlelink .icon {
    padding: 0;
}

#resume {
    padding: 0;
    width: 50vw;
}

#resume .wrapper {
    border-radius: 0;
}

.show-right-panel #right {
    width: 100%;
}

.show-left-panel #left {
    width: 33.3%;
}
} */