#littlelink {
  transition: opacity ease 0.3s;
  opacity: 0;

  padding: 1.2rem;
  overflow: hidden auto;
  width: 20vw;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.show-left-panel #littlelink {
  opacity: 1;
}

#littlelink > h2 {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

#littlelink > .avatar {
  width: 8vw;
  height: 8vw;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 0.75rem;
}

#littlelink > .button {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

#littlelink > .button:last-child {
  margin: 0;
}

#littlelink > .button:hover,
#littlelink > .button:focus {
  filter: brightness(90%);
}

#littlelink .icon {
  box-sizing: content-box;
  padding: 0px 6px 3px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Brand Styles */
.button.button-game {
  background-color: #6637e8;
}

.button.button-blog {
  background-image: linear-gradient(-135deg, #f58529, #dd2a7b, #515bd4);
}

.button.button-instagram {
  background-image: linear-gradient(-135deg, #f58529, #dd2a7b, #515bd4);
}

.button.button-github {
  background-color: #171515;
}

.button.button-pinterest {
  background-color: #ffebed;
  color: black !important;
}

.button.button-behance {
  background-color: #1769ff;
}

.button.button-line {
  background-color: #06c755;
}

.button.button-mail {
  background-color: #1e2329;
  background-color: #e53626;
}