body {
    margin: 0;
    gap: 2em;
    display: grid;
    place-items: center;
    background-color: aliceblue;
    color: white;
    font-family: "overpass", sans-serif;
}

code,
pre {
    font-family: "Spline Sans Mono", monospace;
    font-size: 0.8rem;
    line-height: 1.5;
    background: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 85%);
    overflow: scroll;
    border-radius: 1em;
}

.right {
    width: 60ch;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 0 0 1em 1em;

    h1 {
        margin: 0;
        margin-bottom: 0.5em;
    }

    p {
        margin: 0;
        margin-bottom: 1em;
        line-height: 150%;
    }

    a {
        color: inherit;
        font-weight: bold;
    }
}

.img-code {
    max-width: 72em;
    height: 24em;
    gap: 2em;
    padding: 2em;
    border-radius: 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: black;
}

.img-code>img,
.img-code>iframe {
    width: 24em;
    height: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-fit: contain;
    background-color: #1F1F1F;
}