body {
    margin: 2rem;
    font-family: Barlow, sans-serif;
    color: #244376;
}

.card {
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    max-width: 600px;
    border-radius: 1rem;
    box-shadow: 0 0.12rem 0.6rem rgba(0, 0, 0, 0.24);
    overflow: hidden;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    >model-viewer {
        --poster-color: #fff0;
        width: 100%;
        height: 350px;
        background-color: #000;
    }

    .attribution {
        padding: 1em;
        color: #000;

        >div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        span {
            line-height: 1.5;
        }
    }

    &.card1 {
        >model-viewer {
            background-color: #7b68ee;
        }

        .attribution {
            color: hsl(249, 90%, 15%);
        }
    }

    &.card2 {
        >model-viewer {
            background-color: hsl(200, 89%, 81%);
        }
    }

    &.card3 {
        >model-viewer {
            background-color: #04d2fb;
        }
    }
}

footer {
    display: flex;
    margin: 2rem auto;
    font-style: italic;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}
